<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
   Hi! {{fname|titlecase}} Welcome to  MYB
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <img class="avatar mat-elevation-z8"
            src="../assets/images/sujeet.jpg" />

        <h4 class="name">{{fname| titlecase}} {{lname | titlecase}}</h4>
        <p class="designation"></p>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" (click)="showDashHomePg()">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="['/userprofile']">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>
        <button mat-button class="menu-button">
            <div style="padding-right: 10px;" [matMenuTriggerFor]="menu">
                <mat-icon>info</mat-icon>
                <span>Transaction</span>
            </div>
            <mat-menu #menu="matMenu" xPosition="after" class="my-class">
                <button mat-menu-item (click)="showIncomeTable()">Income</button>
                <button mat-menu-item (click)="showExpenseTable()">Expense</button>
            </mat-menu>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" [routerLink]="['/help']" routerLinkActive="router-link-active" >
            <mat-icon>help</mat-icon>
            <span>Help</span>
        </button>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">

            <app-dashhome [showDashHome]="showDhome"></app-dashhome>
            <app-expense [showMePartially]="showVar"></app-expense>
            <app-income [showMePartially1]="showVar1"></app-income>

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>